Repository patrick91/strawberry-beats: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, isort, black, prettier

mypy:
  name: run mypy
  language: system
  entry: bash -c 'cd backend && poetry run mypy "${@/backend\//./}"' --

flake8:
  name: run flake8
  language: system
  entry: bash -c 'cd backend && poetry run flake8 "${@/backend\//./}"' --

isort:
  name: run isort
  language: system
  entry: bash -c 'cd backend && poetry run isort "${@/backend\//./}"' --

black:
  name: run black
  language: system
  entry: bash -c 'cd backend && poetry run black "${@/backend\//./}"' --

prettier:
  name: run prettier
  language: system
  entry: bash -c 'cd frontend && npm run prettier "${@/frontend\//./}"' --

Add Dockerfile
  backend/Dockerfile
Due: none

Update config
  backend/pyproject.toml
Due: none

Test with redis
  backend/main.py
Due: mypy, flake8, isort, black

Add missing dep
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Use memory
  backend/api/schema.py
  backend/main.py
Due: mypy, flake8, isort, black

Update api url
  frontend/helpers/graphql.ts
  frontend/next.config.js
Due: prettier

Add cors middleware
  backend/main.py
Due: mypy, flake8, isort, black

Allow POST
  backend/main.py
Due: mypy, flake8, isort, black

Update mutation and subscriptions
  backend/api/schema.py
Due: mypy, flake8, isort, black

Update frontend
  frontend/helpers/graphql.ts
  frontend/pages/index.tsx
Due: prettier

Use environ for broadcaster url
  backend/main.py
Due: mypy, flake8, isort, black

Add docker compose configuration
  backend/docker-compose.yml
Due: none

Downgrade version
  backend/docker-compose.yml
Due: none

Update url
  frontend/helpers/graphql.ts
Due: prettier

Some style
  frontend/components/icons/cowbell.tsx
  frontend/components/icons/hi-hat.tsx
  frontend/components/icons/kick.tsx
  frontend/components/icons/snare.tsx
  frontend/components/logo.tsx
  frontend/pages/index.tsx
Due: prettier

Update config
  frontend/tailwind.config.js
Due: prettier

Improvements
  frontend/pages/index.tsx
  frontend/tailwind.config.js
Due: prettier

Update everything
  frontend/package.json
Due: prettier

Path conditions:
  mypy: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  black: any of: ^backend/ and \.py$
  prettier: any of: ^frontend/
